*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(161, 156, 148);
}
.home{
    margin-top: 10px;
    margin-left: 10px;
}
.home a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
    border: 2px solid whitesmoke;
    padding: 2px 5px;
    border-radius: 4px;
}
.img{
    display: grid;
}
.img label{
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
.code{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}
.info h1{
    font-size: 4em;
}
h3{
    font-size: 2em;
}
section{
    color: whitesmoke;
    margin-left: 20px;
    font-size: 1.6em;
}

/*.............small screen.....*/
@media (max-width:600px) {


}*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(161, 156, 148);
}
.home{
    margin-top: 10px;
    margin-left: 10px;
}
.home a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
    border: 2px solid whitesmoke;
    padding: 2px 5px;
    border-radius: 4px;
}
.img{
    display: grid;
}
.img label{
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
.code{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    text-align: center;
}
.info h1{
    font-size: 2.4em;
    

}
h3{
    font-size:1em;
}
section{
    color: whitesmoke;
    margin-left: 20px;
    font-size: 1.3em;
}